# Analysing Data Scientist Salaries

In this notebook, we will analyze the [Kaggle Jobs Dataset from Glassdoor](https://www.kaggle.com/datasets/thedevastator/jobs-dataset-from-glassdoor) that contains job postings from Glassdoor.com from 2017. 

We aim to analyze the dataset considering the following research questions:

- What are the key factors that affect data science salaries? 
- Can we predict the salary of data science positions based on the job postings?

## Setup the dataset to HDFS for big data analysis

The HDFS will allow us to store and retrieve the data efficiently for our analysis. It makes sure the data is readily available in parallel.

Before loading the data to HDFS we added the missing header **ID** into files `eda_data.csv` and `glassdoor_jobs.csv`.

In [ ]:
# TODO: SET UP COMMANDS

## EDA

In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
import pyspark.sql.functions as F
from pyspark import SparkContext, SparkConf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()


conf = SparkConf().set('spark.ui.port', '4040')
sc = SparkContext(conf=conf)
spark = SparkSession.builder.appName('Data Scientist Salaries').master('local[*]').getOrCreate()

24/10/17 10:20:47 WARN Utils: Your hostname, MacBook-Pro-Eric.local resolves to a loopback address: 127.0.0.1; using 213.112.119.200 instead (on interface en0)
24/10/17 10:20:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/17 10:20:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [167]:
# read the dataset, ecape quotes inside the job descriptions
df = spark.read.csv('./dataset/eda_data.csv', header=True, inferSchema=True, multiLine=True, quote='"', escape='"', mode='PERMISSIVE')
df.show(5)

+---+--------------------+--------------------+--------------------+------+--------------------+---------------+--------------+--------------------+-------+------------------+--------------------+--------------------+--------------------+--------------------+------+-----------------+----------+----------+----------+--------------------+---------+----------+---+---------+----+-----+---+-----+--------------+---------+--------+--------+
| ID|           Job Title|     Salary Estimate|     Job Description|Rating|        Company Name|       Location|  Headquarters|                Size|Founded| Type of ownership|            Industry|              Sector|             Revenue|         Competitors|hourly|employer_provided|min_salary|max_salary|avg_salary|         company_txt|job_state|same_state|age|python_yn|R_yn|spark|aws|excel|      job_simp|seniority|desc_len|num_comp|
+---+--------------------+--------------------+--------------------+------+--------------------+---------------+--------------+--------------------+-------+------------------+--------------------+--------------------+--------------------+--------------------+------+-----------------+----------+----------+----------+--------------------+---------+----------+---+---------+----+-----+---+-----+--------------+---------+--------+--------+
|  0|      Data Scientist|$53K-$91K (Glassd...|Data Scientist\nL...|   3.8|Tecolote Research...|Albuquerque, NM|    Goleta, CA|501 to 1000 emplo...|   1973| Company - Private| Aerospace & Defense| Aerospace & Defense|$50 to $100 milli...|                  -1|     0|                0|        53|        91|      72.0|   Tecolote Research|       NM|         0| 47|        1|   0|    0|  0|    1|data scientist|       na|    2536|       0|
|  1|Healthcare Data S...|$63K-$112K (Glass...|What You Will Do:...|   3.4|University of Mar...|  Linthicum, MD| Baltimore, MD|    10000+ employees|   1984|Other Organization|Health Care Servi...|         Health Care|$2 to $5 billion ...|                  -1|     0|                0|        63|       112|      87.5|University of Mar...|       MD|         0| 36|        1|   0|    0|  0|    0|data scientist|       na|    4783|       0|
|  2|      Data Scientist|$80K-$90K (Glassd...|KnowBe4, Inc. is ...|   4.8|        KnowBe4\n4.8| Clearwater, FL|Clearwater, FL|501 to 1000 emplo...|   2010| Company - Private|   Security Services|   Business Services|$100 to $500 mill...|                  -1|     0|                0|        80|        90|      85.0|             KnowBe4|       FL|         1| 10|        1|   0|    1|  0|    1|data scientist|       na|    3461|       0|
|  3|      Data Scientist|$56K-$97K (Glassd...|*Organization and...|   3.8|           PNNL\n3.8|   Richland, WA|  Richland, WA|1001 to 5000 empl...|   1965|        Government|              Energy|Oil, Gas, Energy ...|$500 million to $...|Oak Ridge Nationa...|     0|                0|        56|        97|      76.5|                PNNL|       WA|         1| 55|        1|   0|    0|  0|    0|data scientist|       na|    3883|       3|
|  4|      Data Scientist|$86K-$143K (Glass...|Data Scientist\nA...|   2.9|Affinity Solution...|   New York, NY|  New York, NY| 51 to 200 employees|   1998| Company - Private|Advertising & Mar...|   Business Services|Unknown / Non-App...|Commerce Signals,...|     0|                0|        86|       143|     114.5|  Affinity Solutions|       NY|         1| 22|        1|   0|    0|  0|    1|data scientist|       na|    2728|       3|
+---+--------------------+--------------------+--------------------+------+--------------------+---------------+--------------+--------------------+-------+------------------+--------------------+--------------------+--------------------+--------------------+------+-----------------+----------+----------+----------+--------------------+---------+----------+---+---------+----+-----+---+-----+--------------+---------+--------+--------+
only showing top 5 rows

In [168]:
print('Number of datapoints:', df.count())
print('Number of columns:', len(df.columns))

Number of datapoints: 742
Number of columns: 33

**Show schema:**

In [169]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Salary Estimate: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Rating: double (nullable = true)
 |-- Company Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Headquarters: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Founded: integer (nullable = true)
 |-- Type of ownership: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Sector: string (nullable = true)
 |-- Revenue: string (nullable = true)
 |-- Competitors: string (nullable = true)
 |-- hourly: integer (nullable = true)
 |-- employer_provided: integer (nullable = true)
 |-- min_salary: integer (nullable = true)
 |-- max_salary: integer (nullable = true)
 |-- avg_salary: double (nullable = true)
 |-- company_txt: string (nullable = true)
 |-- job_state: string (nullable = true)
 |-- same_state: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- python_yn: integer (nullable = true)
 |-- R_yn: integer (nullable = true)
 |-- spark: integer (nullable = true)
 |-- aws: integer (nullable = true)
 |-- excel: integer (nullable = true)
 |-- job_simp: string (nullable = true)
 |-- seniority: string (nullable = true)
 |-- desc_len: integer (nullable = true)
 |-- num_comp: integer (nullable = true)

### Data Cleaning

First, we will fix our dataset with regard to missing values and either fill the instances or drop the records containing these values.

**Handling of irrelevant features:**

The dataset contains a lot of columns that are interesting and could be used for the predicitons.  We have decided to drop features that will not be necessary for our analysis, from the data set, to decrease dimensionality and also the number of missing values that need to be filled. Since the `Job Description` column contains a long string of text we choose to drop and use `desc_len` as an inidicator of how detailed the descriptions for each job are. We also do not care about where a single person wants to work or their feature so we drop columns `same_state` and `age`. `Company Name`is just an unclean version of `company_txt`.

In [170]:
def drop_irrelevant_cols(df):
    df = df.drop(*['Job Description', 'age', 'same_state', 'Competitors', 'Company Name'])
    return df

df = drop_irrelevant_cols(df)

In [171]:
df.describe().show()

+-------+------------------+-----------------+--------------------+------------------+----------------+-------------------+-------+-----------------+-----------------+---------+----------------+--------------------+-------------------+--------------------+-----------------+------------------+------------------+--------------------+---------+-------------------+--------------------+-------------------+-------------------+-------------------+--------+---------+------------------+------------------+
|summary|                ID|        Job Title|     Salary Estimate|            Rating|        Location|       Headquarters|   Size|          Founded|Type of ownership| Industry|          Sector|             Revenue|             hourly|   employer_provided|       min_salary|        max_salary|        avg_salary|         company_txt|job_state|          python_yn|                R_yn|              spark|                aws|              excel|job_simp|seniority|          desc_len|          num_comp|
+-------+------------------+-----------------+--------------------+------------------+----------------+-------------------+-------+-----------------+-----------------+---------+----------------+--------------------+-------------------+--------------------+-----------------+------------------+------------------+--------------------+---------+-------------------+--------------------+-------------------+-------------------+-------------------+--------+---------+------------------+------------------+
|  count|               742|              742|                 742|               742|             742|                742|    742|              742|              742|      742|             742|                 742|                742|                 742|              742|               742|               742|                 742|      742|                742|                 742|                742|                742|                742|     742|      742|               742|               742|
|   mean|             370.5|             NULL|                NULL|3.6188679245283057|            NULL|               -1.0|   -1.0|1837.154986522911|             -1.0|     -1.0|            -1.0|                -1.0|0.03234501347708895|0.022911051212938006|74.71967654986523|128.14959568733153|100.62601078167116|                NULL|     NULL| 0.5283018867924528|0.002695417789757...|0.22506738544474394| 0.2371967654986523|  0.522911051212938|    NULL|     NULL| 3869.545822102426|1.0539083557951483|
| stddev|214.34123883813555|             NULL|                NULL|0.8012101584634994|            NULL|               NULL|   NULL|497.1837627029657|             NULL|      0.0|             0.0|                NULL|0.17703404247509585| 0.14972089250897577|30.98059321850606|45.220324256712196|38.855948156512454|                NULL|     NULL|0.49953508800982177| 0.05188236934528476|0.41790840066994306|0.42565083812312854|0.49981172181094585|    NULL|     NULL|1521.4958678994672| 1.384239252217433|
|    min|                 0|Ag Data Scientist|$10-$17 Per Hour(...|              -1.0|Agoura Hills, CA|                 -1|     -1|               -1|               -1|       -1|              -1|$1 to $2 billion ...|                  0|                   0|               15|                16|              13.5|1-800-FLOWERS.COM...|       AL|                  0|                   0|                  0|                  0|                  0| analyst|       jr|               407|                 0|
|    max|               741| Web Data Analyst|Employer Provided...|               5.0|   Worcester, MA|Zurich, Switzerland|Unknown|             2019|          Unknown|Wholesale|Travel & Tourism|Unknown / Non-App...|                  1|                   1|              202|               306|             254.0|           webfx.com|       WI|                  1|                   1|                  1|                  1|                  1|      na|   senior|             10051|                 4|
+-------+------------------+-----------------+--------------------+------------------+----------------+-------------------+-------+-----------------+-----------------+---------+----------------+--------------------+-------------------+--------------------+-----------------+------------------+------------------+--------------------+---------+-------------------+--------------------+-------------------+-------------------+-------------------+--------+---------+------------------+------------------+

**Handling missing values:**

In [172]:
# after playing around with the data, it seems that one of the records seem to have many missing values, so we drop it
bad_record = df.filter(df['Headquarters'] == -1)
bad_record.show()

+---+--------------------+--------------------+------+-------------+------------+----+-------+-----------------+--------+------+-------+------+-----------------+----------+----------+----------+--------------------+---------+---------+----+-----+---+-----+--------+---------+--------+--------+
| ID|           Job Title|     Salary Estimate|Rating|     Location|Headquarters|Size|Founded|Type of ownership|Industry|Sector|Revenue|hourly|employer_provided|min_salary|max_salary|avg_salary|         company_txt|job_state|python_yn|R_yn|spark|aws|excel|job_simp|seniority|desc_len|num_comp|
+---+--------------------+--------------------+------+-------------+------------+----+-------+-----------------+--------+------+-------+------+-----------------+----------+----------+----------+--------------------+---------+---------+----+-----+---+-----+--------+---------+--------+--------+
|581|Scientist – Cance...|Employer Provided...|  -1.0|Cambridge, MA|          -1|  -1|     -1|               -1|      -1|    -1|     -1|     0|                1|       100|       135|     117.5|Monte Rosa Therap...|       MA|        0|   0|    0|  0|    1|      na|       na|    3437|       0|
+---+--------------------+--------------------+------+-------------+------------+----+-------+-----------------+--------+------+-------+------+-----------------+----------+----------+----------+--------------------+---------+---------+----+-----+---+-----+--------+---------+--------+--------+

In [173]:
df = df.filter(df['ID'] != 581)
df.describe().show()

+-------+------------------+-----------------+--------------------+------------------+----------------+-------------------+-----------------+------------------+--------------------+---------+----------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+------------------+--------+---------+------------------+------------------+
|summary|                ID|        Job Title|     Salary Estimate|            Rating|        Location|       Headquarters|             Size|           Founded|   Type of ownership| Industry|          Sector|             Revenue|              hourly|   employer_provided|        min_salary|        max_salary|        avg_salary|         company_txt|job_state|         python_yn|                R_yn|              spark|                aws|             excel|job_simp|seniority|          desc_len|          num_comp|
+-------+------------------+-----------------+--------------------+------------------+----------------+-------------------+-----------------+------------------+--------------------+---------+----------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+------------------+--------+---------+------------------+------------------+
|  count|               741|              741|                 741|               741|             741|                741|              741|               741|                 741|      741|             741|                 741|                 741|                 741|               741|               741|               741|                 741|      741|               741|                 741|                741|                741|               741|     741|      741|               741|               741|
|   mean| 370.2159244264507|             NULL|                NULL|3.6251012145749026|            NULL|               NULL|             NULL|1839.6356275303644|                NULL|     -1.0|            -1.0|                NULL|0.032388663967611336|0.021592442645074223|  74.6855600539811|  128.140350877193|100.60323886639677|                NULL|     NULL|0.5290148448043185|0.002699055330634278| 0.2253711201079622|0.23751686909581646|0.5222672064777328|    NULL|     NULL|3870.1295546558704|1.0553306342780027|
| stddev|214.34619462793214|             NULL|                NULL|0.7835410934642616|            NULL|               NULL|             NULL| 492.9032463846545|                NULL|      0.0|             0.0|                NULL|  0.1771496239813286|  0.1454467531327641|30.987568027957078|45.250166544546005| 38.87723839435158|                NULL|     NULL|0.4994945835227074| 0.05191731848396881|0.41810871297729174|0.42584896294587343|0.4998413141338195|    NULL|     NULL|1522.4404135868954|1.3846315950630184|
|    min|                 0|Ag Data Scientist|$10-$17 Per Hour(...|              -1.0|Agoura Hills, CA|          Akron, OH|1 to 50 employees|                -1|College / University|       -1|              -1|$1 to $2 billion ...|                   0|                   0|                15|                16|              13.5|1-800-FLOWERS.COM...|       AL|                 0|                   0|                  0|                  0|                 0| analyst|       jr|               407|                 0|
|    max|               741| Web Data Analyst|Employer Provided...|               5.0|   Worcester, MA|Zurich, Switzerland|          Unknown|              2019|             Unknown|Wholesale|Travel & Tourism|Unknown / Non-App...|                   1|                   1|               202|               306|             254.0|           webfx.com|       WI|                 1|                   1|                  1|                  1|                 1|      na|   senior|             10051|                 4|
+-------+------------------+-----------------+--------------------+------------------+----------------+-------------------+-----------------+------------------+--------------------+---------+----------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+------------------+--------+---------+------------------+------------------+

In [178]:
min_max_median = df.agg(
    F.min('Founded').alias('min_value'),
    F.max('Founded').alias('max_value'),
    F.expr('percentile_approx(Founded, 0.5)').alias('median_value')  # 0.5 for median
)

# Show the results
min_max_median.show()

+---------+---------+------------+
|min_value|max_value|median_value|
+---------+---------+------------+
|       -1|     2019|        1988|
+---------+---------+------------+

df.select(['Company Name'])

In [176]:
def fill_missing_values(df):
    df = df.withColumn('Rating', F.when(df['Rating'] == -1, 3.0).otherwise(df['Rating']))
    df = df.withColumn('Size', F.when(df['Size'] == -1, 'Unknown').otherwise(df['Size']))
    df = df.withColumn('Industry', F.when(df['Industry'] == -1, 'Unknown').otherwise(df['Industry']))
    df = df.withColumn('Founded', F.when(df['Founded'] == 1988, 'Unknown').otherwise(df['Founded']))  # fill in median year founded
    df = df.withColumn('seniority', F.when(df['seniority'] == 'na', 'med').otherwise(df['seniority']))
    # not a clearly deined job position, research or scientist positons, devops/spark engineers or many tasks etc
    df = df.withColumn('job_simp', F.when(df['job_simp'] == 'na', 'vague').otherwise(df['job_simp'])) 
    return df

df = fill_missing_values(df)

In [177]:
df.groupBy('job_simp').count().show()

+--------------+-----+
|      job_simp|count|
+--------------+-----+
|data scientist|  279|
|         vague|  183|
|      director|   14|
|       manager|   22|
| data engineer|  119|
|       analyst|  102|
|           mle|   22|
+--------------+-----+

In [181]:
# Filter rows where 'column_name' equals -1
rows_with_minus_one = df.filter(df['seniority'] == 'med')
rows_with_minus_one.count()

519

In [165]:
df_new = df.filter(df['job_simp'] == 'na')
df_new.select(['Job Title']).collect()

[Row(Job Title='Research Scientist'),
 Row(Job Title='Scientist I/II, Biology'),
 Row(Job Title='Scientist'),
 Row(Job Title='Spectral Scientist/Engineer'),
 Row(Job Title='R&D Data Analysis Scientist'),
 Row(Job Title='Analytics Consultant'),
 Row(Job Title='Scientist'),
 Row(Job Title='Research Scientist'),
 Row(Job Title='Data Management Specialist'),
 Row(Job Title='Sr. Scientist II'),
 Row(Job Title='Data Modeler'),
 Row(Job Title='Scientist'),
 Row(Job Title='Research Scientist'),
 Row(Job Title='Project Scientist'),
 Row(Job Title='Associate Scientist'),
 Row(Job Title='Scientist 2, QC Viral Vector'),
 Row(Job Title='Senior Research Scientist - Embedded System Development for DevOps'),
 Row(Job Title='Senior Spark Engineer (Data Science)'),
 Row(Job Title='Pricipal Scientist Molecular and cellular biologist'),
 Row(Job Title='Senior Scientist - Neuroscience'),
 Row(Job Title='Medical Lab Scientist'),
 Row(Job Title='Scientist, Analytical Development'),
 Row(Job Title='Sr. Scientist - Digital & Image Analysis/Computational Pathology'),
 Row(Job Title='Principal Scientist - Immunologist'),
 Row(Job Title='MED TECH/LAB SCIENTIST - LABORATORY'),
 Row(Job Title='Sr. Scientist, Quantitative Translational Sciences'),
 Row(Job Title='VP, Data Science'),
 Row(Job Title='PV Scientist'),
 Row(Job Title='Principal Scientist, Chemistry & Immunology'),
 Row(Job Title='Software Engineer - Data Visualization'),
 Row(Job Title='Scientist/Senior Scientist, Autoimmune'),
 Row(Job Title='Principal Scientist, Hematology'),
 Row(Job Title='Medical Laboratory Scientist'),
 Row(Job Title='R&D Specialist/ Food Scientist'),
 Row(Job Title='MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB'),
 Row(Job Title='Food Scientist - Developer'),
 Row(Job Title='Staff Scientist-Downstream Process Development'),
 Row(Job Title='Medical Technologist / Clinical Laboratory Scientist'),
 Row(Job Title='Pricipal Scientist Molecular and cellular biologist'),
 Row(Job Title='Data & Analytics Consultant (NYC)'),
 Row(Job Title='Senior Scientist - Neuroscience'),
 Row(Job Title='Research Scientist'),
 Row(Job Title='Medical Lab Scientist'),
 Row(Job Title='Scientist, Analytical Development'),
 Row(Job Title='Sr. Scientist - Digital & Image Analysis/Computational Pathology'),
 Row(Job Title='Principal Scientist - Immunologist'),
 Row(Job Title='Sr. Scientist, Quantitative Translational Sciences'),
 Row(Job Title='MED TECH/LAB SCIENTIST - LABORATORY'),
 Row(Job Title='VP, Data Science'),
 Row(Job Title='CONSULTANT– DATA ANALYTICS GROUP'),
 Row(Job Title='Staff Scientist'),
 Row(Job Title='Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry'),
 Row(Job Title='RESEARCH SCIENTIST - BIOLOGICAL SAFETY'),
 Row(Job Title='Data Operations Lead'),
 Row(Job Title='PV Scientist'),
 Row(Job Title='Product Engineer – Data Science'),
 Row(Job Title='Principal Scientist, Chemistry & Immunology'),
 Row(Job Title='Scientist/Senior Scientist, Autoimmune'),
 Row(Job Title='Software Engineer - Data Visualization'),
 Row(Job Title='Principal Scientist, Hematology'),
 Row(Job Title='Scientist Manufacturing - Kentucky BioProcessing'),
 Row(Job Title='Consultant - Analytics Consulting'),
 Row(Job Title='Senior Scientist (Neuroscience)'),
 Row(Job Title='Medical Laboratory Scientist'),
 Row(Job Title='R&D Specialist/ Food Scientist'),
 Row(Job Title='Scientist, Bacteriology'),
 Row(Job Title='Clinical Laboratory Scientist'),
 Row(Job Title='Food Scientist - Developer'),
 Row(Job Title='Scientist, Molecular/Cellular Biologist'),
 Row(Job Title='Staff Scientist-Downstream Process Development'),
 Row(Job Title='MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB'),
 Row(Job Title='Scientist - Analytical Services'),
 Row(Job Title='Senior Data Science Systems Engineer'),
 Row(Job Title='ENVIRONMENTAL ENGINEER/SCIENTIST'),
 Row(Job Title='Senior Scientist - Regulatory Submissions'),
 Row(Job Title='Scientist - Biomarker and Flow Cytometry'),
 Row(Job Title='Associate Scientist, LC/MS Biologics'),
 Row(Job Title='Sr. Scientist Method Development'),
 Row(Job Title='Research Scientist, Immunology - Cancer Biology'),
 Row(Job Title='Project Scientist - Auton Lab, Robotics Institute'),
 Row(Job Title='Enterprise Architect, Data'),
 Row(Job Title='Data Modeler - Data Solutions Engineer'),
 Row(Job Title='Associate Environmental Scientist - Wildlife Biologist'),
 Row(Job Title='Associate, Data Science, Internal Audit'),
 Row(Job Title='Salesforce Analytics Consultant'),
 Row(Job Title='Technology-Minded, Data Professional Opportunities'),
 Row(Job Title='Scientist, Pharmacometrics'),
 Row(Job Title='Staff Scientist- Upstream PD'),
 Row(Job Title='Scientist Manufacturing Pharma - Kentucky BioProcessing'),
 Row(Job Title='Product Engineer – Spatial Data Science and Statistical Analysis'),
 Row(Job Title='Senior Scientist, Cell Pharmacology/Assay Development'),
 Row(Job Title='Medical Lab Scientist - MLT'),
 Row(Job Title='RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT'),
 Row(Job Title='Senior Scientist - Toxicologist - Product Integrity (Stewardship)'),
 Row(Job Title='Senior Research Analytical Scientist-Non-Targeted Analysis'),
 Row(Job Title='Senior Scientist - Biostatistician'),
 Row(Job Title='Product Engineer – Data Science'),
 Row(Job Title='Principal Scientist, Chemistry & Immunology'),
 Row(Job Title='Scientist/Senior Scientist, Autoimmune'),
 Row(Job Title='Software Engineer - Data Visualization'),
 Row(Job Title='Principal Scientist, Hematology'),
 Row(Job Title='Scientist Manufacturing - Kentucky BioProcessing'),
 Row(Job Title='Consultant - Analytics Consulting'),
 Row(Job Title='Senior Scientist (Neuroscience)'),
 Row(Job Title='Medical Laboratory Scientist'),
 Row(Job Title='R&D Specialist/ Food Scientist'),
 Row(Job Title='Associate Principal Scientist, Pharmacogenomics'),
 Row(Job Title='Scientist, Bacteriology'),
 Row(Job Title='Clinical Laboratory Scientist'),
 Row(Job Title='Scientist, Immuno-Oncology'),
 Row(Job Title='Data Science Engineer - Mobile'),
 Row(Job Title='Food Scientist - Developer'),
 Row(Job Title='Sr Expert Data Science, Advanced Visual Analytics (Associate level)'),
 Row(Job Title='Scientist, Molecular/Cellular Biologist'),
 Row(Job Title='Staff Scientist-Downstream Process Development'),
 Row(Job Title='MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB'),
 Row(Job Title='Scientist - Analytical Services'),
 Row(Job Title='Senior Data Science Systems Engineer'),
 Row(Job Title='ENVIRONMENTAL ENGINEER/SCIENTIST'),
 Row(Job Title='Senior Scientist - Regulatory Submissions'),
 Row(Job Title='Scientist - Biomarker and Flow Cytometry'),
 Row(Job Title='Associate Scientist, LC/MS Biologics'),
 Row(Job Title='Sr. Scientist Method Development'),
 Row(Job Title='Research Scientist, Immunology - Cancer Biology'),
 Row(Job Title='Principal, Data Science - Advanced Analytics'),
 Row(Job Title='Sr Scientist, Immuno-Oncology - Oncology'),
 Row(Job Title='Project Scientist - Auton Lab, Robotics Institute'),
 Row(Job Title='Research Scientist – Security and Privacy'),
 Row(Job Title='Enterprise Architect, Data'),
 Row(Job Title='Data Modeler (Analytical Systems)'),
 Row(Job Title='Data Modeler - Data Solutions Engineer'),
 Row(Job Title='Associate Environmental Scientist - Wildlife Biologist'),
 Row(Job Title='Associate, Data Science, Internal Audit'),
 Row(Job Title='Technology-Minded, Data Professional Opportunities'),
 Row(Job Title='Salesforce Analytics Consultant'),
 Row(Job Title='Staff Scientist- Upstream PD'),
 Row(Job Title='Scientist, Pharmacometrics'),
 Row(Job Title='Scientist Manufacturing Pharma - Kentucky BioProcessing'),
 Row(Job Title='Product Engineer – Spatial Data Science and Statistical Analysis'),
 Row(Job Title='Associate Research Scientist I (Protein Expression and Production)'),
 Row(Job Title='Senior Scientist, Cell Pharmacology/Assay Development'),
 Row(Job Title='Senior Formulations Scientist II'),
 Row(Job Title='Medical Lab Scientist - MLT'),
 Row(Job Title='RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT'),
 Row(Job Title='Senior Scientist - Toxicologist - Product Integrity (Stewardship)'),
 Row(Job Title='Senior Research Analytical Scientist-Non-Targeted Analysis'),
 Row(Job Title='Research Scientist or Senior Research Scientist - Computer Vision'),
 Row(Job Title='Senior Scientist - Biostatistician'),
 Row(Job Title='Research Scientist / Principal Research Scientist - Multiphysical Systems'),
 Row(Job Title='Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology'),
 Row(Job Title='Senior Engineer, Data Management Engineering'),
 Row(Job Title='Quality Control Scientist III- Analytical Development'),
 Row(Job Title='Clinical Scientist, Clinical Development'),
 Row(Job Title='Software Engineer Staff Scientist: Human Language Technologies'),
 Row(Job Title='Consultant - Analytics Consulting'),
 Row(Job Title='Scientist - CVRM Metabolism - in vivo pharmacology'),
 Row(Job Title='Senior Scientist (Neuroscience)'),
 Row(Job Title='Medical Laboratory Scientist'),
 Row(Job Title='R&D Specialist/ Food Scientist'),
 Row(Job Title='Associate Principal Scientist, Pharmacogenomics'),
 Row(Job Title='Scientist, Bacteriology'),
 Row(Job Title='Clinical Laboratory Scientist'),
 Row(Job Title='Scientist, Immuno-Oncology'),
 Row(Job Title='Data Architect / Data Modeler'),
 Row(Job Title='Data Science Engineer - Mobile'),
 Row(Job Title='Food Scientist - Developer'),
 Row(Job Title='Sr Expert Data Science, Advanced Visual Analytics (Associate level)'),
 Row(Job Title='MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB'),
 Row(Job Title='Scientist, Molecular/Cellular Biologist'),
 Row(Job Title='Staff Scientist-Downstream Process Development'),
 Row(Job Title='Scientist - Analytical Services'),
 Row(Job Title='Associate Scientist / Sr. Associate Scientist, Antibody Discovery'),
 Row(Job Title='Senior Data Science Systems Engineer'),
 Row(Job Title='ENVIRONMENTAL ENGINEER/SCIENTIST'),
 Row(Job Title='Senior Scientist - Regulatory Submissions'),
 Row(Job Title='Scientist - Biomarker and Flow Cytometry'),
 Row(Job Title='Sr. Scientist Method Development'),
 Row(Job Title='Associate Scientist, LC/MS Biologics'),
 Row(Job Title='Research Scientist, Immunology - Cancer Biology'),
 Row(Job Title='Principal, Data Science - Advanced Analytics'),
 Row(Job Title='Sr Scientist, Immuno-Oncology - Oncology'),
 Row(Job Title='Project Scientist - Auton Lab, Robotics Institute'),
 Row(Job Title='Research Scientist – Security and Privacy')]

In [98]:
df.show(10)

+---+--------------------+--------------------+------+--------------------+---------------+--------------+--------------------+-------+------------------+--------------------+--------------------+--------------------+--------------------+------+-----------------+----------+----------+----------+--------------------+---------+---------+----+-----+---+-----+--------------+---------+--------+--------+
| ID|           Job Title|     Salary Estimate|Rating|        Company Name|       Location|  Headquarters|                Size|Founded| Type of ownership|            Industry|              Sector|             Revenue|         Competitors|hourly|employer_provided|min_salary|max_salary|avg_salary|         company_txt|job_state|python_yn|R_yn|spark|aws|excel|      job_simp|seniority|desc_len|num_comp|
+---+--------------------+--------------------+------+--------------------+---------------+--------------+--------------------+-------+------------------+--------------------+--------------------+--------------------+--------------------+------+-----------------+----------+----------+----------+--------------------+---------+---------+----+-----+---+-----+--------------+---------+--------+--------+
|  0|      Data Scientist|$53K-$91K (Glassd...|   3.8|Tecolote Research...|Albuquerque, NM|    Goleta, CA|501 to 1000 emplo...|   1973| Company - Private| Aerospace & Defense| Aerospace & Defense|$50 to $100 milli...|                  -1|     0|                0|        53|        91|      72.0|   Tecolote Research|       NM|        1|   0|    0|  0|    1|data scientist|       na|    2536|       0|
|  1|Healthcare Data S...|$63K-$112K (Glass...|   3.4|University of Mar...|  Linthicum, MD| Baltimore, MD|    10000+ employees|   1984|Other Organization|Health Care Servi...|         Health Care|$2 to $5 billion ...|                  -1|     0|                0|        63|       112|      87.5|University of Mar...|       MD|        1|   0|    0|  0|    0|data scientist|       na|    4783|       0|
|  2|      Data Scientist|$80K-$90K (Glassd...|   4.8|        KnowBe4\n4.8| Clearwater, FL|Clearwater, FL|501 to 1000 emplo...|   2010| Company - Private|   Security Services|   Business Services|$100 to $500 mill...|                  -1|     0|                0|        80|        90|      85.0|             KnowBe4|       FL|        1|   0|    1|  0|    1|data scientist|       na|    3461|       0|
|  3|      Data Scientist|$56K-$97K (Glassd...|   3.8|           PNNL\n3.8|   Richland, WA|  Richland, WA|1001 to 5000 empl...|   1965|        Government|              Energy|Oil, Gas, Energy ...|$500 million to $...|Oak Ridge Nationa...|     0|                0|        56|        97|      76.5|                PNNL|       WA|        1|   0|    0|  0|    0|data scientist|       na|    3883|       3|
|  4|      Data Scientist|$86K-$143K (Glass...|   2.9|Affinity Solution...|   New York, NY|  New York, NY| 51 to 200 employees|   1998| Company - Private|Advertising & Mar...|   Business Services|Unknown / Non-App...|Commerce Signals,...|     0|                0|        86|       143|     114.5|  Affinity Solutions|       NY|        1|   0|    0|  0|    1|data scientist|       na|    2728|       3|
|  5|      Data Scientist|$71K-$119K (Glass...|   3.4|       CyrusOne\n3.4|     Dallas, TX|    Dallas, TX|201 to 500 employees|   2000|  Company - Public|         Real Estate|         Real Estate|$1 to $2 billion ...|Digital Realty, C...|     0|                0|        71|       119|      95.0|            CyrusOne|       TX|        1|   0|    0|  1|    1|data scientist|       na|    3747|       3|
|  6|      Data Scientist|$54K-$93K (Glassd...|   4.1|ClearOne Advantag...|  Baltimore, MD| Baltimore, MD|501 to 1000 emplo...|   2008| Company - Private|Banks & Credit Un...|             Finance|Unknown / Non-App...|                  -1|     0|                0|        54|        93|      73.5|  ClearOne Advantage|       MD|        0|   0|    0|  0|    1|data scientist|       na|    1786|       0|
|  7|      Data Scientist|$86K-$142K (Glass...|   3.8|     Logic20/20\n3.8|   San Jose, CA|   Seattle, WA|201 to 500 employees|   2005| Company - Private|          Consulting|   Business Services|$25 to $50 millio...|                  -1|     0|                0|        86|       142|     114.0|          Logic20/20|       CA|        1|   0|    1|  1|    1|data scientist|       na|    3804|       0|
|  8|  Research Scientist|$38K-$84K (Glassd...|   3.3|Rochester Regiona...|  Rochester, NY| Rochester, NY|    10000+ employees|   2014|          Hospital|Health Care Servi...|         Health Care|$500 million to $...|                  -1|     0|                0|        38|        84|      61.0|Rochester Regiona...|       NY|        0|   0|    0|  0|    0|            na|       na|    1538|       0|
|  9|      Data Scientist|$120K-$160K (Glas...|   4.6|       <intent>\n4.6|   New York, NY|  New York, NY| 51 to 200 employees|   2009| Company - Private|            Internet|Information Techn...|$100 to $500 mill...|Clicktripz, Smart...|     0|                0|       120|       160|     140.0|            <intent>|       NY|        1|   0|    1|  0|    0|data scientist|       na|    4574|       2|
+---+--------------------+--------------------+------+--------------------+---------------+--------------+--------------------+-------+------------------+--------------------+--------------------+--------------------+--------------------+------+-----------------+----------+----------+----------+--------------------+---------+---------+----+-----+---+-----+--------------+---------+--------+--------+
only showing top 10 rows

In [62]:
df.select(['Job Title']).tail(20)

24/10/17 11:42:15 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector, Revenue, Competitors, hourly, employer_provided, min_salary, max_salary, avg_salary, company_txt, job_state, same_state, age, python_yn, R_yn, spark, aws, excel, job_simp, seniority, desc_len, num_comp
 Schema: _c0, Job Title, Salary Estimate, Job Description, Rating, Company Name, Location, Headquarters, Size, Founded, Type of ownership, Industry, Sector, Revenue, Competitors, hourly, employer_provided, min_salary, max_salary, avg_salary, company_txt, job_state, same_state, age, python_yn, R_yn, spark, aws, excel, job_simp, seniority, desc_len, num_comp
Expected: _c0 but found:
CSV file: file:///Users/ericbanzuzi/uni/KTH/Data%20Intensive%20Computing/ID2221-project/dataset/eda_data.csv

[Row(Job Title=None),
 Row(Job Title=None),
 Row(Job Title=None),
 Row(Job Title=None),
 Row(Job Title=' drinks (three ways to brew your favorite cup of coffee)'),
 Row(Job Title=None),
 Row(Job Title=' dental and vision insurance plans'),
 Row(Job Title=None),
 Row(Job Title=None),
 Row(Job Title=None),
 Row(Job Title=None),
 Row(Job Title=' CA. It is not a remote role."'),
 Row(Job Title='Data Science Project Manager'),
 Row(Job Title='Data Engineer'),
 Row(Job Title='Principal, Data Science - Advanced Analytics'),
 Row(Job Title='Sr Scientist, Immuno-Oncology - Oncology'),
 Row(Job Title='Senior Data Engineer'),
 Row(Job Title='Project Scientist - Auton Lab, Robotics Institute'),
 Row(Job Title='Data Science Manager'),
 Row(Job Title='Research Scientist – Security and Privacy')]

In [35]:
df = pd.read_csv('./dataset/eda_data.csv')
df.head(5)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,age,python_yn,R_yn,spark,aws,excel,job_simp,seniority,desc_len,num_comp
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,...,47,1,0,0,0,1,data scientist,na,2536,0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,...,36,1,0,0,0,0,data scientist,na,4783,0
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,...,10,1,0,1,0,1,data scientist,na,3461,0
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,...,55,1,0,0,0,0,data scientist,na,3883,3
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,22,1,0,0,0,1,data scientist,na,2728,3

In [14]:
df.shape[0]

742

In [4]:
df.count()

25508

In [45]:
### Check the schema
df.printSchema()

root
 |-- Unnamed: 0: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Salary Estimate: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Company Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Headquarters: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Founded: string (nullable = true)
 |-- Type of ownership: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Sector: string (nullable = true)
 |-- Revenue: string (nullable = true)
 |-- Competitors: string (nullable = true)
 |-- hourly: string (nullable = true)
 |-- employer_provided: string (nullable = true)
 |-- min_salary: string (nullable = true)
 |-- max_salary: string (nullable = true)
 |-- avg_salary: string (nullable = true)
 |-- company_txt: string (nullable = true)
 |-- job_state: string (nullable = true)
 |-- same_state: string (nullable = true)
 |-- age: string (nullable = true)
 |-- python_yn: string (nullable = true)
 |-- R_yn: string (nullable = true)
 |-- spark: string (nullable = true)
 |-- aws: string (nullable = true)
 |-- excel: string (nullable = true)
 |-- job_simp: string (nullable = true)
 |-- seniority: string (nullable = true)
 |-- desc_len: string (nullable = true)
 |-- num_comp: string (nullable = true)

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
df.head(3)

[Row(Job Title='Data Scientist', Salary Estimate='$53K-$91K (Glassdoor est.)', Job Description='Data Scientist', Rating=None, Company Name=None, Location=None, Headquarters=None, Size=None, Founded=None, Type of ownership=None, Industry=None, Sector=None, Revenue=None, Competitors=None, hourly=None, employer_provided=None, min_salary=None, max_salary=None, avg_salary=None, company_txt=None, job_state=None, same_state=None, age=None, python_yn=None, R_yn=None, spark=None, aws=None, excel=None),
 Row(Job Title='Location: Albuquerque', Salary Estimate=' NM', Job Description=None, Rating=None, Company Name=None, Location=None, Headquarters=None, Size=None, Founded=None, Type of ownership=None, Industry=None, Sector=None, Revenue=None, Competitors=None, hourly=None, employer_provided=None, min_salary=None, max_salary=None, avg_salary=None, company_txt=None, job_state=None, same_state=None, age=None, python_yn=None, R_yn=None, spark=None, aws=None, excel=None),
 Row(Job Title='Education Required: Bachelor’s degree required', Salary Estimate=' preferably in math', Job Description=' engineering', Rating=' business', Company Name=' or the sciences.', Location=None, Headquarters=None, Size=None, Founded=None, Type of ownership=None, Industry=None, Sector=None, Revenue=None, Competitors=None, hourly=None, employer_provided=None, min_salary=None, max_salary=None, avg_salary=None, company_txt=None, job_state=None, same_state=None, age=None, python_yn=None, R_yn=None, spark=None, aws=None, excel=None)]

In [8]:
df.select(['Job Title','Rating']).show()

+--------------------+--------------------+
|           Job Title|              Rating|
+--------------------+--------------------+
|      Data Scientist|                NULL|
|Location: Albuque...|                NULL|
|Education Require...|            business|
|    Skills Required:|                NULL|
|Bachelor’s Degree...|       data analysis|
|Applicant should ...|              MATLAB|
|Excellent verbal ...|                NULL|
|Applicant must be...|                NULL|
|U.S. citizenship ...|                NULL|
|Responsibilities:...|              models|
|           Benefits:|                NULL|
|We offer competit...|                NULL|
|Comprehensive health| long and short t...|
|100% Company fund...|                NULL|
|   Generous vacation|                NULL|
|  Tuition assistance|                NULL|
|Benefits are prov...|                NULL|
|Tecolote Research...|                 3.8|
|                3.8"|501 to 1000 emplo...|
| , NM,0,47,1,0,0,0,1|                NULL|
+--------------------+--------------------+
only showing top 20 rows

In [9]:
df.dtypes

[('Job Title', 'string'),
 ('Salary Estimate', 'string'),
 ('Job Description', 'string'),
 ('Rating', 'string'),
 ('Company Name', 'string'),
 ('Location', 'string'),
 ('Headquarters', 'string'),
 ('Size', 'string'),
 ('Founded', 'string'),
 ('Type of ownership', 'string'),
 ('Industry', 'string'),
 ('Sector', 'string'),
 ('Revenue', 'string'),
 ('Competitors', 'string'),
 ('hourly', 'string'),
 ('employer_provided', 'string'),
 ('min_salary', 'string'),
 ('max_salary', 'string'),
 ('avg_salary', 'string'),
 ('company_txt', 'string'),
 ('job_state', 'string'),
 ('same_state', 'string'),
 ('age', 'string'),
 ('python_yn', 'string'),
 ('R_yn', 'string'),
 ('spark', 'string'),
 ('aws', 'string'),
 ('excel', 'string')]

In [10]:
df.describe().show()

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+--------------------+--------------------+-------------------+
|summary|           Job Title|     Salary Estimate|     Job Description|              Rating|        Company Name|            Location|     Headquarters|              Size|             Founded|   Type of ownership|            Industry|              Sector|             Revenue|         Competitors|              hourly|   employer_provided|          min_salary|          max_salary|       avg_salary|         company_txt|job_state|        same_state|                 age|          python_yn|               R_yn|               spark|                 aws|              excel|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+--------------------+--------------------+-------------------+
|  count|               25507|               10805|                8102|                4638|                3294|                2466|             1918|              1633|                1405|                1249|                1131|                1061|                 992|                 930|                 895|                 874|                 110|                  76|               71|                  63|       51|                42|                  41|                 39|                 33|                  31|                  21|                 14|
|   mean|  21041.962962962964|   61.00671834625333|  123.98571428571427|  1813.0499999999997|   1785.072047244095|    41.2818181818182|178.0695652173913| 2.788888888888889|  2.9333333333333336| -0.9520518358531319|  0.0821236559139785| 0.07595772787318363|   71.47723035952065|  124.28458445040214|   98.39453333333334|  41.336363636363636|   60.18666666666666|   75.33000000000001|            81.06|  44.199999999999996|      1.0|0.9750000000000001|  0.5846153846153845|0.20769230769230765|0.44166666666666665| 0.18181818181818182| 0.14285714285714285|0.16666666666666666|
| stddev|   50435.28942690325|   326.2024528016523|  470.17593319877676|  10792.306144431019|   575.7746937326941|  177.05726444225579|580.2639183515647|1.7907897991040613|  1.7283903880007356| 0.46280611901825025|  0.4667868526920021|  0.5693475689729077|   32.94909367775586|   49.49683513333299|   40.81039599592259|    80.2953034590178|   82.30609130961491|   50.96190407222503|67.28260795579592|   58.65223453019174|      2.0|1.3739931378493646|  1.4842765655621335|  1.695317835717705| 0.9792931897624692| 0.40451991747794525| 0.37796447300922725|  0.408248290463863|
|    min|        ""Education:|                #37)| ""Green Card Hol...| & reports labora...|      (Nasdaq: RUBY)| (b) in furtheran...|                 |            401(k)|                 ACL| 15 free therapy ...| 2018. For more i...|      AD&D insurance|         401(k) plan| Active Duty Wart...| Armed Forces Ser...| Business Process...|     Cloud Computing| ""protected stat...|               CA|                  CA|     HTML|               CSS|             Angular|              Kafka|                AWS|               Azure| GCP is preferred...|           analysts|
|    max|Master’s degree ...|” we will continu...|” responsible for...|statistical analy...|e-IT Professional...|             Unknown|        Wholesale|       Vail Health| designed for rap...|eClinicalWorks, N...|             Vermeer|Unknown / Non-App...|University of Mar...|        Vionic Group|       Truckstop.com|           webfx.com|Works with engine...|Remedy BPCI Partn...|         TRANZACT|The Climate Corpo...|  Peraton|               2.9|Karyopharm Therap...|         Sumo Logic|     Pro-Sphere Tek|Excellent written...|Individually moti...|                  1|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+--------------------+--------------------+-------------------+

In [36]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [38]:
df_pyspark.show()

+---------+---+----------+-----------------------+
|     Name|age|Experience|Experience After 2 year|
+---------+---+----------+-----------------------+
|    Krish| 31|        10|                     12|
|Sudhanshu| 30|         8|                     10|
|    Sunny| 29|         4|                      6|
+---------+---+----------+-----------------------+

In [41]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [42]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [44]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+
| New Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+