#### In this Video We will Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()



conf = SparkConf().set('spark.ui.port', '4040')
sc = SparkContext(conf=conf)
spark = SparkSession.builder.master('local[*]').getOrCreate()

24/10/15 22:44:38 WARN Utils: Your hostname, MacBook-Pro-Eric.local resolves to a loopback address: 127.0.0.1; using 213.112.115.75 instead (on interface en0)
24/10/15 22:44:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/15 22:44:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark

In [4]:
## read the dataset
df = spark.read.csv('./dataset/salary_data_cleaned.csv', header=True, inferSchema=True)
df.show(5)

24/10/15 22:45:25 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+--------------------+---------------+--------------+-----------------+-----------------+--------------------+----+-------+-----------------+--------+------+-------+-----------+------+-----------------+----------+----------+----------+-----------+---------+----------+----+---------+----+-----+----+-----+
|           Job Title|     Salary Estimate|Job Description|        Rating|     Company Name|         Location|        Headquarters|Size|Founded|Type of ownership|Industry|Sector|Revenue|Competitors|hourly|employer_provided|min_salary|max_salary|avg_salary|company_txt|job_state|same_state| age|python_yn|R_yn|spark| aws|excel|
+--------------------+--------------------+---------------+--------------+-----------------+-----------------+--------------------+----+-------+-----------------+--------+------+-------+-----------+------+-----------------+----------+----------+----------+-----------+---------+----------+----+---------+----+-----+----+-----+
|      Data Scientist|$53K-$91K (Glassd...| Data Scientist|          NULL|             NULL|             NULL|                NULL|NULL|   NULL|             NULL|    NULL|  NULL|   NULL|       NULL|  NULL|             NULL|      NULL|      NULL|      NULL|       NULL|     NULL|      NULL|NULL|     NULL|NULL| NULL|NULL| NULL|
|Location: Albuque...|                  NM|           NULL|          NULL|             NULL|             NULL|                NULL|NULL|   NULL|             NULL|    NULL|  NULL|   NULL|       NULL|  NULL|             NULL|      NULL|      NULL|      NULL|       NULL|     NULL|      NULL|NULL|     NULL|NULL| NULL|NULL| NULL|
|Education Require...|  preferably in math|    engineering|      business| or the sciences.|             NULL|                NULL|NULL|   NULL|             NULL|    NULL|  NULL|   NULL|       NULL|  NULL|             NULL|      NULL|      NULL|      NULL|       NULL|     NULL|      NULL|NULL|     NULL|NULL| NULL|NULL| NULL|
|    Skills Required:|                NULL|           NULL|          NULL|             NULL|             NULL|                NULL|NULL|   NULL|             NULL|    NULL|  NULL|   NULL|       NULL|  NULL|             NULL|      NULL|      NULL|      NULL|       NULL|     NULL|      NULL|NULL|     NULL|NULL| NULL|NULL| NULL|
|Bachelor’s Degree...|                e.g.|           math| data analysis|         database| computer science| Artificial Intel...|NULL|   NULL|             NULL|    NULL|  NULL|   NULL|       NULL|  NULL|             NULL|      NULL|      NULL|      NULL|       NULL|     NULL|      NULL|NULL|     NULL|NULL| NULL|NULL| NULL|
+--------------------+--------------------+---------------+--------------+-----------------+-----------------+--------------------+----+-------+-----------------+--------+------+-------+-----------+------+-----------------+----------+----------+----------+-----------+---------+----------+----+---------+----+-----+----+-----+
only showing top 5 rows

In [5]:
### Check the schema
df.printSchema()

root
 |-- Job Title: string (nullable = true)
 |-- Salary Estimate: string (nullable = true)
 |-- Job Description: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Company Name: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Headquarters: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Founded: string (nullable = true)
 |-- Type of ownership: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Sector: string (nullable = true)
 |-- Revenue: string (nullable = true)
 |-- Competitors: string (nullable = true)
 |-- hourly: string (nullable = true)
 |-- employer_provided: string (nullable = true)
 |-- min_salary: string (nullable = true)
 |-- max_salary: string (nullable = true)
 |-- avg_salary: string (nullable = true)
 |-- company_txt: string (nullable = true)
 |-- job_state: string (nullable = true)
 |-- same_state: string (nullable = true)
 |-- age: string (nullable = true)
 |-- python_yn: string (nullable = true)
 |-- R_yn: string (nullable = true)
 |-- spark: string (nullable = true)
 |-- aws: string (nullable = true)
 |-- excel: string (nullable = true)

In [6]:
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
df.head(3)

[Row(Job Title='Data Scientist', Salary Estimate='$53K-$91K (Glassdoor est.)', Job Description='Data Scientist', Rating=None, Company Name=None, Location=None, Headquarters=None, Size=None, Founded=None, Type of ownership=None, Industry=None, Sector=None, Revenue=None, Competitors=None, hourly=None, employer_provided=None, min_salary=None, max_salary=None, avg_salary=None, company_txt=None, job_state=None, same_state=None, age=None, python_yn=None, R_yn=None, spark=None, aws=None, excel=None),
 Row(Job Title='Location: Albuquerque', Salary Estimate=' NM', Job Description=None, Rating=None, Company Name=None, Location=None, Headquarters=None, Size=None, Founded=None, Type of ownership=None, Industry=None, Sector=None, Revenue=None, Competitors=None, hourly=None, employer_provided=None, min_salary=None, max_salary=None, avg_salary=None, company_txt=None, job_state=None, same_state=None, age=None, python_yn=None, R_yn=None, spark=None, aws=None, excel=None),
 Row(Job Title='Education Required: Bachelor’s degree required', Salary Estimate=' preferably in math', Job Description=' engineering', Rating=' business', Company Name=' or the sciences.', Location=None, Headquarters=None, Size=None, Founded=None, Type of ownership=None, Industry=None, Sector=None, Revenue=None, Competitors=None, hourly=None, employer_provided=None, min_salary=None, max_salary=None, avg_salary=None, company_txt=None, job_state=None, same_state=None, age=None, python_yn=None, R_yn=None, spark=None, aws=None, excel=None)]

In [8]:
df.select(['Job Title','Rating']).show()

+--------------------+--------------------+
|           Job Title|              Rating|
+--------------------+--------------------+
|      Data Scientist|                NULL|
|Location: Albuque...|                NULL|
|Education Require...|            business|
|    Skills Required:|                NULL|
|Bachelor’s Degree...|       data analysis|
|Applicant should ...|              MATLAB|
|Excellent verbal ...|                NULL|
|Applicant must be...|                NULL|
|U.S. citizenship ...|                NULL|
|Responsibilities:...|              models|
|           Benefits:|                NULL|
|We offer competit...|                NULL|
|Comprehensive health| long and short t...|
|100% Company fund...|                NULL|
|   Generous vacation|                NULL|
|  Tuition assistance|                NULL|
|Benefits are prov...|                NULL|
|Tecolote Research...|                 3.8|
|                3.8"|501 to 1000 emplo...|
| , NM,0,47,1,0,0,0,1|                NULL|
+--------------------+--------------------+
only showing top 20 rows

In [9]:
df.dtypes

[('Job Title', 'string'),
 ('Salary Estimate', 'string'),
 ('Job Description', 'string'),
 ('Rating', 'string'),
 ('Company Name', 'string'),
 ('Location', 'string'),
 ('Headquarters', 'string'),
 ('Size', 'string'),
 ('Founded', 'string'),
 ('Type of ownership', 'string'),
 ('Industry', 'string'),
 ('Sector', 'string'),
 ('Revenue', 'string'),
 ('Competitors', 'string'),
 ('hourly', 'string'),
 ('employer_provided', 'string'),
 ('min_salary', 'string'),
 ('max_salary', 'string'),
 ('avg_salary', 'string'),
 ('company_txt', 'string'),
 ('job_state', 'string'),
 ('same_state', 'string'),
 ('age', 'string'),
 ('python_yn', 'string'),
 ('R_yn', 'string'),
 ('spark', 'string'),
 ('aws', 'string'),
 ('excel', 'string')]

In [10]:
df.describe().show()

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+--------------------+--------------------+-------------------+
|summary|           Job Title|     Salary Estimate|     Job Description|              Rating|        Company Name|            Location|     Headquarters|              Size|             Founded|   Type of ownership|            Industry|              Sector|             Revenue|         Competitors|              hourly|   employer_provided|          min_salary|          max_salary|       avg_salary|         company_txt|job_state|        same_state|                 age|          python_yn|               R_yn|               spark|                 aws|              excel|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+--------------------+--------------------+-------------------+
|  count|               25507|               10805|                8102|                4638|                3294|                2466|             1918|              1633|                1405|                1249|                1131|                1061|                 992|                 930|                 895|                 874|                 110|                  76|               71|                  63|       51|                42|                  41|                 39|                 33|                  31|                  21|                 14|
|   mean|  21041.962962962964|   61.00671834625333|  123.98571428571427|  1813.0499999999997|   1785.072047244095|    41.2818181818182|178.0695652173913| 2.788888888888889|  2.9333333333333336| -0.9520518358531319|  0.0821236559139785| 0.07595772787318363|   71.47723035952065|  124.28458445040214|   98.39453333333334|  41.336363636363636|   60.18666666666666|   75.33000000000001|            81.06|  44.199999999999996|      1.0|0.9750000000000001|  0.5846153846153845|0.20769230769230765|0.44166666666666665| 0.18181818181818182| 0.14285714285714285|0.16666666666666666|
| stddev|   50435.28942690325|   326.2024528016523|  470.17593319877676|  10792.306144431019|   575.7746937326941|  177.05726444225579|580.2639183515647|1.7907897991040613|  1.7283903880007356| 0.46280611901825025|  0.4667868526920021|  0.5693475689729077|   32.94909367775586|   49.49683513333299|   40.81039599592259|    80.2953034590178|   82.30609130961491|   50.96190407222503|67.28260795579592|   58.65223453019174|      2.0|1.3739931378493646|  1.4842765655621335|  1.695317835717705| 0.9792931897624692| 0.40451991747794525| 0.37796447300922725|  0.408248290463863|
|    min|        ""Education:|                #37)| ""Green Card Hol...| & reports labora...|      (Nasdaq: RUBY)| (b) in furtheran...|                 |            401(k)|                 ACL| 15 free therapy ...| 2018. For more i...|      AD&D insurance|         401(k) plan| Active Duty Wart...| Armed Forces Ser...| Business Process...|     Cloud Computing| ""protected stat...|               CA|                  CA|     HTML|               CSS|             Angular|              Kafka|                AWS|               Azure| GCP is preferred...|           analysts|
|    max|Master’s degree ...|” we will continu...|” responsible for...|statistical analy...|e-IT Professional...|             Unknown|        Wholesale|       Vail Health| designed for rap...|eClinicalWorks, N...|             Vermeer|Unknown / Non-App...|University of Mar...|        Vionic Group|       Truckstop.com|           webfx.com|Works with engine...|Remedy BPCI Partn...|         TRANZACT|The Climate Corpo...|  Peraton|               2.9|Karyopharm Therap...|         Sumo Logic|     Pro-Sphere Tek|Excellent written...|Individually moti...|                  1|
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+---------+------------------+--------------------+-------------------+-------------------+--------------------+--------------------+-------------------+

In [36]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [38]:
df_pyspark.show()

+---------+---+----------+-----------------------+
|     Name|age|Experience|Experience After 2 year|
+---------+---+----------+-----------------------+
|    Krish| 31|        10|                     12|
|Sudhanshu| 30|         8|                     10|
|    Sunny| 29|         4|                      6|
+---------+---+----------+-----------------------+

In [41]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [42]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [44]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+
| New Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+